/* ========== VARIABLES ========== */
:root {
  --text-color: #434455;
  --dark-color: #2e2f42;
  --active-color: #4d5ae5;
  --hover-color: #404bbf;
  --valid-color: #31d0aa;
  --helper-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --ligth-background-color: #f4f4fd;
  --hero-background-color: #2e2f42;
  --modal-background-color: #fcfcfc;
  --white-color: #ffffff;

  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
/* ========== /VARIABLES ========== */

/* ========== GLOBAL ========== */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 120px 0;
}

.social-media {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-media-items {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  width: 100%;
  height: 100%;
  background-color: var(--active-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--ligth-background-color);
  background-color: #404bbf;
}

.social-icon {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ========== /GLOBAL ========== */

/* ========== HEADER ========== */
.page-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--active-color);
  margin-right: 76px;
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.colored-logo {
  color: var(--dark-color);
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  display: block;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
}

.menu-link {
  position: relative;
}

.active {
  color: var(--hover-color);
}

.active::after {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -1px;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: currentColor;
}

.main-address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
}

/* ========== /HEADER ========== */

/* ========== HERO ========== */

.hero-section {
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
}

.hero-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  display: block;
  background-color: var(--active-color);
  color: var(--white-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 48px auto 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}
/* ========== /HERO ========== */

/* ========== BENEFITS ========== */
.benefits {
  display: flex;
  gap: 24px;
  padding: 24px 0;
}

.benefits-icon-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--ligth-background-color);
  border-radius: 4px;
}

.benefits-card-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/* ========== /BENEFITS ========== */

/* ========== WHAT ARE WE DOING ========== */

.services-section {
  padding-bottom: 120px;
}

.services {
  display: flex;
  gap: 24px;
}
.services-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* ========== /WHAT ARE WE DOING ========== */

/* ========== OUR TEAM ========== */
.team {
  display: flex;
  gap: 24px;
}

.team-section {
  background-color: var(--ligth-background-color);
}
.team-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-content {
  padding: 32px 0;
}

.team-card-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

/* ========== /OUR TEAM ========== */

/* ========== CUSTOMERS ========== */
.customers {
  display: flex;
  gap: 24px;
}

.customers-item {
  flex-basis: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--helper-text-color);
  height: 100%;
  width: 100%;
  color: var(--helper-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}
.customer-icon {
  fill: currentColor;
}

/* ========== /CUSTOMERS ========== */

/* ========== PORTFOLIO ========== */
.projects-section {
  padding: 96px 0 120px;
}

.project-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-btn {
  border: 1px solid var(--accent-color);
  background: var(--ligth-background-color);
  color: var(--active-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-color);
  border: 1px solid transparent;
  color: var(--white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0%);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.project-card {
  flex-basis: calc((100% - 2 * 26px) / 3);
}

.project-content {
  padding: 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.project-card-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.overlay-wraper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--ligth-background-color);
  background-color: var(--active-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== /PORTFOLIO ========== */

/* ========== FOOTER ========== */
.page-footer {
  background-color: var(--hero-background-color);
  padding: 100px 0;
}

.page-footer .colored-logo {
  color: var(--ligth-background-color);
}

.footer-wrap {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-left-wrap {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--ligth-background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.sm-title {
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

footer .social-link:hover,
footer .social-link:focus {
  color: var(--ligth-background-color);
  background-color: #31d0aa;
}

footer .social-media {
  gap: 16px;
}

/* ========== /FOOTER ========== */

/* ========== MODAL WINDOW ========== */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--modal-background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== /MODAL WINDOW ========== */
